/* font-family: 'Khula', sans-serif;
font-family: 'Urbanist', sans-serif; */


*{
    box-sizing:border-box;
}

div{
    display: block;
}

body{
    border:20px solid white;
}

a, a h3{
    text-decoration: none;
    color:#cb5f50;
    text-transform: lowercase;
}

h1,h2,h3,h4{
    font-family: 'Khula', sans-serif;
    text-transform: uppercase;
    font-size:30px;
    color:#006694
}

p{
    font-family: 'Urbanist', sans-serif;
    font-size: 20px;
}

header{
    background-color: #d3e3d6;
    text-align: center;
    height:300px;
    display:block;
}

header h1{
   align-self: flex-end;
   text-align: center;
   font-family: 'Khula', sans-serif;
   text-transform: uppercase;
   color:#006694;
   font-size: 50px;
   padding-top:100px;

}

header nav{
    align-self: flex-end; 
    text-align: center;
}

header nav a{
    text-align: center;
    text-decoration: none;
    color:#006694;
    font-family: 'Urbanist', sans-serif;
    font-size: 20px;
    padding:20px;
}

a:hover{
    color:#f37160;
}


/* about me section*/

#about {
    display: flex;
}

#about .right{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: #a8d9ec ;
    width:50%;
}

#about .right h1{
    font-family: 'Khula', sans-serif;
    text-transform: uppercase;
    padding-top:100px;
}

#about .right p,#about .right h1{
    width:80%;
    padding-left:50px;
}

#about .right p{
    padding-bottom:100px;
}


#about .left{
    display: flex;
    width:50%;
    justify-content: center;
}

.left img{
    display:flex;
    max-height:400px;
    max-width: auto;
    align-self: center;
    overflow:hidden;


}


/* work highlight section*/

#work{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: stretch;
    background-color: white;
    clear:both;
    margin-top:2px;
}

#work .intro{
    max-height:300px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    clear:both;
    padding-top:100px;
}

#work .intro .intro-wrapper{
    width: 500px;
    align-self: center;
    border-top:1px solid black;
    padding-top:50px;
}

#work .intro p, #work .intro h2{
    text-align: center;
   
}

#work .intro p{
    padding-bottom:30px;
}

#work .work-highlight{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #d3e3d6;
    
}

#work .work-highlight img{
    max-width: 600px;
    height:400px;
    filter: grayscale(100%);
    padding-top:20px;

}

#work .other {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: stretch;
    justify-content: space-between;
    padding-top:50px;
    background-color: white;
    padding:20px;
    padding-bottom:100px;
}

#work .other .p1, #work .other .p2,#work .other .p3{
    max-width: 30%;
    text-align: center;
    padding:20px;
    background-color: #d3e3d6;
    color:#006694
}

#work .other .p1 img, #work .other .p2 img, #work .other .p3 img{
    max-width:100%;
    max-height:auto;
    object-fit: cover;
    filter: grayscale(100%);
}


#contact{
    display: flex;
    align-items: stretch;
    height: 250px;
}

#contact .left-contact{
    width:50%;
    float:left;
    background-color: #a8d9ec ;
}

#contact .right-contact{
    width:50%;
    float:right;
    background-color: #d3e3d6;
    text-align: center;
}

#contact .left-contact h2, #contact .left-contact p{
    width:80%;
    padding-left:50px;
}

#contact .left-contact h2{
    padding-top:20px;
    
}



@media only screen and (max-width:860px){
    #about {
        display:block;
    }
}

@media only screen and (max-width:860px){
    #about {
        display:block;
    }
}

@media only screen and (max-width:860px){
    #about .left, #about .right {
        width:100%;
    }
}




